Debug/
Release/
x64_Debug/
x64_Release/
build/linux/cavs2dec*
build/linux/davs2*
My*/
*.user
*.suo
*.ncb
*.aps
*.pdb
*.res
*.dat
*.manifest
*.map
*.dep
*.idb
*.ilk
*.htm
*.exp
*.lib
*.obj
*.dll*
*.exe
*.avs
*.mkv
*.mp4
*.y4m
*.yuv
*.log
*.bak
*.o
*.a
*.so
*.cd
*.sdf
*.opensdf
*.depend
*.pc
*.mak
*.so.*
*.dec
*.txt
config.h
*.iobj
*.ipdb
version.h

